# ==============================================
# localhost Configuration
# ==============================================

BACK_PORT=3333

# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# CONFIGURAÇÃO DO TOKEN JWT
JWT_SECRET = 
JWT_TTL = "5h"

# ==============================================
# Frontend Configuration
# ==============================================

FRONT_PORT=3000

# NextAuth Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=

# API URL for frontend
# NEXT_PUBLIC_API_URL é usado pelo navegador (client-side)
API_URL=