/* CSS Global */

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@import 'tailwindcss';
@import "tw-animate-css";

:root {
    --color-light: #ffffff;
    --color-dark: #000000;

    --default-font: 'Geist', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: var(--default-font);
    color: var(--color-dark);
}